<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>安装</title>
    <link rel="stylesheet" href="/public/css/install/install.css"> {{template "Common/Head.html" .}}
</head>

<body>
    <div class="install-page">
        <div class="title">
            <span class="title-1">GOLB</span><span class="title-2">正在准备安装</span>
        </div>
        <div id="route" class="route">
            <div class="node">
                <i class="pointer ing"></i>
            </div>
            <div class="node">
                <i class="pointer"></i>
            </div>
            <!--<div class="node">
                <i class="pointer"></i>
            </div>
            <div class="node">
                <i class="pointer"></i>
            </div>
            <div class="node">
                <i class="pointer"></i>
            </div>-->
        </div>
        <div class="install-content">
            <div id="step-0" class="step step-0">
                <h3 class="step-title">数据库配置</h3>
                <div class="step-content">
                    <div class="form-group form-inline">
                        <label for="">数据库地址</label>
                        <input id="db-host" class="form-control" type="text">
                    </div>
                    <div class="form-group form-inline">
                        <label for="">数据库端口</label>
                        <input id="db-port" class="form-control" type="text" value="3306">
                    </div>
                    <div class="form-group form-inline">
                        <label for="">数据库账号</label>
                        <input id="db-user" class="form-control" type="text">
                    </div>
                    <div class="form-group form-inline">
                        <label for="">数据库密码</label>
                        <input id="db-pass" class="form-control" type="text">
                    </div>
                    <div class="form-group form-inline">
                        <label for="">数据库名称</label>
                        <input id="db-name" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div id="step-1" class="step-1">
                <h3>管理员账号</h3>
                <div>
                    <label for="">用户名</label>
                    <input id="admin-user" type="text">
                </div>
                <div>
                    <label for="">密码</label>
                    <input id="admin-pass" type="text">
                </div>
                <div>
                    <label for="">邮箱</label>
                    <input id="admin-email" type="text">
                </div>
            </div>
        </div>
        <div>
            <button id="next-button" class="btn btn-sm btn-primary next-button" onclick="Install.submit()">下一步</button>
        </div>
    </div>
    <script type="text/javascript" src="/public/js/install/install.js"></script>
    {{template "Common/Foot.html" .}}
</body>

</html>