<!DOCTYPE html>
<html>

<head>
    <title>{{.title}}</title>
    <!-- Custom CSS -->
    <link href="/public/css/home/blog-home.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png">
    <link rel="search" type="application/opensearchdescription+xml" title="search" href="/opensearch.xml" />
    {{template "Common/Head.html" .}}
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar my-navbar navbar-fixed-top" role="navigation">
        <div class="container my-container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>-->
                <a class="navbar-brand" href="/">GOLB</a>
                <a class="navbar-brand" href="/">首页</a>
                <a class="navbar-brand" href="/"><i class="fa fa-bars" aria-hidden="true"></i> 专题</a>
                <div class="navbar-search">
                <div class="input-group">
                    <input id="search-key" type="text" class="form-control">
                    <span class="input-group-btn">
                        <button onclick="Common.toSearch()" class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
                </div>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <div class="container my-container">