.tag-manage-area{
    display: flex;
    .tag-area {
        flex: 7;
        display:flex;
        padding-right: 4em;
        .item {
            display: inline-flex;
            margin-right: 30px;
            height: 2em;
            line-height: 1.8em;
            padding: 0.1em 0.5em;
            white-space: nowrap;
            cursor: pointer;
            border: solid 1px #fff;
        }
        .item.active{
            border-color: #E9E9E6;
            background-color: #E9E9E6;
        }
    }
    .edit-area{
        flex: 3;
    }
}