.post-list {
  background-color: #fff;
  padding: 1em 2em; }
  .post-list .select {
    width: 40px; }
  .post-list .author {
    width: 100px; }
  .post-list .category {
    width: 120px; }
  .post-list .date {
    width: 90px;
    text-align: center; }

.admin-post .edit-area {
  display: flex; }
  .admin-post .edit-area .editor {
    flex: 3; }
  .admin-post .edit-area .extra {
    flex: 1;
    margin-left: 1.5em; }
    .admin-post .edit-area .extra .category-list {
      background-color: #fff;
      padding: 1em; }
      .admin-post .edit-area .extra .category-list li {
        list-style: none; }
        .admin-post .edit-area .extra .category-list li label {
          font-weight: normal;
          margin-left: 1em; }

.admin-post .buttons {
  margin-top: 1em; }
