/*
 * Base structure
 */


/* Move down content because we have a fixed navbar that is 50px tall */

body {
  padding-top: 50px;
}

.my-container {
  max-width: 300px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}


/*
 * Top navigation
 * Hide default border to remove 1px line.
 */

.navbar-fixed-top {
  border: 0;
}


/*
 * Sidebar
 */


/* Hide for mobile, show later */

.sidebar {
  display: none;
}

@media (min-width: 768px) {
  .sidebar {
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}


/* Sidebar navigation */

.nav-sidebar {
  margin-right: -15px;
  /* 20px padding + 1px border */
  margin-bottom: 20px !important;
  margin-left: -15px;
}

.nav-sidebar>li>a {
  padding-right: 20px !important;
  padding-left: 25px !important;
}

.nav-sidebar>.active>a,
.nav-sidebar>.active>a:hover,
.nav-sidebar>.active>a:focus {
  color: #fff;
  background-color: #428bca;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}

.placeholders h4 {
  margin-bottom: 0;
}

.placeholder {
  margin-bottom: 20px;
}

.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.input-area{
  input,select{
  }
}

.admin-area {
  display: flex;
  .sidebar {
    flex: 1
  }
  .admin-content {
    flex: 12;
    background-color: #F6F6F3;
    /*
    * Main content
    */
    .main {
      padding: 20px!important;
      .page-header {
        margin: 0;
      }
      .sub-opration {
        margin: 1em 0;
      }
    }
  }
}