{{/* . is a array of blog */}}

{{range .}}
    <h2>
        <a href="{{.MainURL}}">{{.Title}}</a>
    </h2>
    <p class="lead">
        by <a href="">Start Bootstrap</a>
    </p>
    <p><span class="glyphicon glyphicon-time"></span> Posted on {{.CreateTime}}</p>
    <hr>
    <img class="img-responsive" src="http://placehold.it/900x300" alt="">
    <hr>
    <p>{{.GetSummary}}</p>
    <a class="btn btn-primary" href="{{.MainURL}}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
    <hr>
{{end}}