{{/* . is a array of blog */}}

{{range .}}
    <div class="blog-item">
    <h2>
        <a href="{{.MainURL}}">{{.Title}}</a>
    </h2>
    <p class="lead author-time">
        <!--<span class="glyphicon glyphicon-time"></span> -->
        <span>{{date .CreateTime}}</span>
        {{range .BlogTags}}
            <span> · </span><a class="" href="/tag/{{.Ident}}">{{.Name}}</a>
        {{end}}
        <span> · </span>
        <span>{{.ReadCount}} Views</span>
        <!--<span class="author">作者: -->
        <!--<a class="" href="">Start</a></span>-->
        <!--<span class="category">分类:-->
    </p>
    <p class="blog-summary">{{.GetSummary}}...</p>
    <!--<a class="btn btn-primary" href="{{.MainURL}}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>-->
    </div>
{{end}}