{{append . "moreStyles" "css/admin/signin.css"}}
{{template "Layout/HomeHeader.html" .}}

<div class="container my-container">
    <form class="form-signin" role="form" method="post" rel="/create">
        <h3 class="form-signin-heading">Sign Up</h3> 
        <input class="form-control" placeholder="Username" required autofocus name="name"> 
            <br/>
        <input type="email" class="form-control" placeholder="Email Address" name="email"> 
            <br/>
        <input type="password" class="form-control" placeholder="Password" required name="passwd"> 
            <br/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Create an account</button>
    </form>

</div> <!-- /container -->

{{template "Layout/HomeFooter.html" .}}