{{append . "moreStyles" "css/admin/signin.css"}}
{{template "Layout/HomeHeader.html" .}}

    <form class="form-signin" role="form" method="post" rel="/login">
        <h3 class="form-signin-heading">Sign In</h3>
        <input class="form-control" placeholder="Username" required autofocus name="name"> <br/>
        <input type="password" class="form-control" placeholder="Password" required name="passwd">
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>

{{template "Layout/HomeFooter.html" .}}
