    <!-- jQuery -->
    <script type="text/javascript" src="/public/js/common/jquery-2.2.4.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script type="text/javascript" src="/public/js/common/bootstrap.min.js"></script>
    <script type="text/javascript" src="/public/third/vue/vue.min.js"></script>
    <script type="text/javascript" src="/public/third/alertify/alertify.min.js"></script>

    {{range .moreScripts}}
      <script src="/public/{{.}}" type="text/javascript" charset="utf-8"></script>
    {{end}}

    {{if eq .RunMode "dev"}}
      {{template "Common/Debug.html" .}}
    {{end}}

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script type="text/javascript" src="/public/js/common/ie-emulation-modes-warning.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script type="text/javascript" src="/public/js/common/ie10-viewport-bug-workaround.js"></script>

